[2019-01-29 11:51] cgogolin opened #2 "Improve documentation of devices"
It would be great if the devices were documented a bit more thoroughly.

The IBM device for example claims to be "A PennyLane qiskit.ibm device for the Qiskit Local Simulator backend.", which is not what it actually is, I think, and for a new user it will be hard to know the difference between

* AerQiskitDevice | A PennyLane `qiskit.aer` device for the Qiskit Simulator Aer (local) backend.

and

[2019-01-29 12:04] cgogolin opened #3 "Support devices with noise model"
One of the great things about qiskit is that it has backends with realistic noise models and one of the greta things about PennyLane and variational approaches to quantum computing is that they probably work well even in the presence of noise.

It would thus be highly desirable to expose the noise model features of the PL qiskit devices to the user and allow to specify a noise model for such a dev

[2019-01-29 14:31] cgogolin opened #8 "Expose the various kwargs of the qiskit backends"
The qiskit backends have a wealth of keyword arguments with which their behavior can be fine tuned. It would be great to expose them via kwargs of the corresponding devices and also document them in the pennylane-qiskit docs.

This is related to #3

[2019-02-04 13:31] carstenblank commented on #2
Alright, fair issue. Do you have a suggestion as to how to name the device classes? I thought this would be very appropriate... however, I am just using the nomenclature of IBM Q. Regarding the `qiskit.ibm` topic, I will look into it, that would indeed be a false statement and needs fixing.

[2019-02-13 08:48] danielmpla opened #13 "Error when trying to use an other bakcend with device: 'qiskit.ibm'"
**Describe the bug**
When executing qml.device('qiskit.ibm', wires=1, backend='ibmqx4') I get the error: "__init__() got multiple values for keyword argument 'backend'". The Exception is thrown at devices.py:424 (super().__init__(wires, backend=backend, shots=shots, **kwargs)).

**To Reproduce**
Steps to reproduce the behavior:
1. Import: import pennylane as qml
2. Execute: qml.device('qiskit.ibm'

[2019-02-13 09:02] danielmpla commented on #13
As it turns out you probably can't remove an item from **kwargs. So my temporary solution is:

[code]

[2019-02-13 20:39] carstenblank commented on #13
Hi @danielmpla! Thank you so much for pointing this out. Ouch! Okay I will see to it.

[2019-02-13 20:46] carstenblank commented on #13
I think the best way to solve this, is to make the the arguments `backend` and `shots` in the `__init__` explicit such that it wont ever be part of `kwargs`. I believe this should resolve the issue. I am working on a pull request to fix this.

[2019-02-15 14:50] danielmpla commented on #13
Yeah I think this solution is cleaner and improves probably also the code completion when using an IDE. I would close the issue after testing the new release.

[2019-02-15 16:54] sebboer commented on #13
fix published in version 0.0.5

[2019-02-16 08:43] #13 closed

[2019-04-22 09:30] carstenblank commented on #3
So, with the PR #22 this is finally addressed. I will add the changes, after review & tests into master.

[2019-05-09 11:43] ycchen1989 opened #24 "QCGPU support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Thanks to the author for providing this plugin. I am wondering whether it is possible to
use this plugin with GPU-acclerated or parallel computation for simulation.

**Describe the solution you'd like**
A clear and concise description of w

[2019-05-18 21:23] josh146 opened #28 "Support more expectation values"
Currently, the Qiskit devices only allow for `PauliZ` expectation values.

However, it is simple to support _all_ the remaining PennyLane expectation values: `PauliX`, `PauliY`, `Hadamard`, and `Hermitian`.

---

For the first three, this is relatively simple, and can be done as follows:

![image](https://user-images.githubusercontent.com/2959003/57975062-c3e00200-7990-11e9-8894-eba25eab8e29.png)

[2019-05-18 21:24] josh146 commented on #28
For example, see how this is done in the PennyLane-Forest plugin, here:

https://github.com/rigetti/pennylane-forest/blob/multi_qubit_observables/pennylane_forest/qvm.py

Specifically, the `pre_expval` and `expval` methods.

[2019-06-08 07:57] carstenblank commented on #28
Nice! Thank you so much Josh! I will implement this the next days I think!

[2019-06-08 20:57] carstenblank commented on #24
This is an interesting question. I think adding the GPU-accelerated provider shouldn't be a difficult task. I don't know if I will be able to address this any time soon.

[2019-06-08 21:38] josh146 commented on #28
Let me know if you have any questions!

[2019-06-09 09:03] carstenblank commented on #2
@cgogolin do you think this is a good fix?

[2019-06-09 09:26] carstenblank commented on #2
There is another PR: #31 with a bit more fixes. I hope the docs are getting better now...

[2019-06-15 11:55] cgogolin commented on #2
Looks good. Thanks for continuing the development of this!

[2019-06-20 21:18] carstenblank commented on #3
I think this should be fixed by now. Re-open if the problem remains.

[2019-06-20 21:18] #3 closed

[2019-06-26 16:55] josh146 opened #33 "Update the plugin to work with v0.4 of PennyLane"
PennyLane v0.4 introduces some breaking changes:

* `qml.expval.Observable()` is now `qml.expval(qml.observable())`

* The required `Device.expectations` property is now named `Device.observables`

* The `pre_expval` and `post_expval` methods are now named `pre_measure` and `post_measure`.

These will have to be updated across the plugin and tests.

[2019-06-28 15:02] carstenblank commented on #28
Do you think we solved this issue with #32 ?

[2019-07-01 08:14] quantshah commented on #33
#34 takes care of this. Next up

- Update README and plugin docs with the easiest way to add token and run a quatum function
- Make a new release for the plugin
- Update pennylane docs with the latest plugin information.
- Refactor more tests to pytests

[2019-07-03 22:11] maxiwelian opened #37 "Can't instantiate abstract class AerQiskitDevice with abstract methods expectations"
**Describe the bug**
Can't instantiate abstract class AerQiskitDevice with abstract methods expectations

**To Reproduce**
import pennylane as qml
dev = qml.device('qiskit.aer', wires=2)

**Expected behavior**
Initializes device

**Screenshots**
Traceback (most recent call last):
  File "/home/amwilso4/projects/qaoa_pipeline/qaoa/penny_run.py", line 16, in <module>
    dev = qml.device('qiskit.aer

[2019-07-03 23:57] quantshah commented on #37
Can you tell us the qiskit version? And also the pennylane and qiskit
plugin versions? We recently had some breaking changes to pennylane and
just updated the plugins to work on the latest versions of pennylane (0.4)
and qiskit (0.10)

On Thu, 4 Jul 2019 at 00:11, maxiwelian <notifications@github.com> wrote:

[2019-07-04 00:06] maxiwelian commented on #37
In the 'additional context' section.

Here for reference
import pennylane_qiskit as pq
qiskit.version
'0.8.1'
qml.version
'0.4.0-dev0'
pq.version
'0.0.8'

[2019-07-04 03:46] josh146 commented on #37
Hi @maxiwelian, can you try upgrading your installed versions of both PennyLane and PennyLane-Qiskit:
[code]

It looks like you are using an older development version of PennyLane, last week, we released the final 0.4 release of PennyLane.

[2019-07-04 03:46] josh146 commented on #33
@quantshah, can this issue now be closed?

[2019-07-04 03:58] josh146 commented on #28
I think it is, yes :slightly_smiling_face: - more features can still be added (such as multi-qubit expectations), but that is out of scope and can be discussed in a new issue.

[2019-07-04 03:58] #28 closed

[2019-07-04 06:52] quantshah commented on #33
Yes. :-)

On Thu, 4 Jul 2019 at 05:46, Josh Izaac <notifications@github.com> wrote:

[2019-07-04 06:54] #33 closed

[2019-07-08 07:12] czachow opened #38 "Bug: Missing url for qiskit"
Problem:
- accessing IBM Quantum Experience devices via the new API requires url

Reproduction:
- run example 02 with ibmqx device

Fix:
- add url as additional parameter to IBMQQiskitDevice

[2019-07-22 18:27] MBrandt-NASA commented on #37
Note -- there was a misprint "pennlane-qiskit" should have been "pennylane-qiskit" 😉 for anyone who was just quickly copy-pasting the pip install line.

Furthermore, I had the same (original) problem and what finally worked for me was:

`python -m pip install pennylane pennylane-qiskit --upgrade`

I hope that helps.  😃

[2019-07-23 06:29] josh146 commented on #37
Thanks for the catch @MBrandt-NASA! I'll fix that up now.

[2019-07-23 18:53] co9olguy opened #40 "Hermitian op only works for single-qubit observables"
The base PennyLane library now how support for multi-qubit Hermitian observables (see [here](https://github.com/XanaduAI/pennylane/pull/192)). However, the pennylane-qiskit plugin only works for single-qubit observables.

@quantshah @josh146 Are there any restrictions in qiskit that prevent us from implementing support for multi-qubit Hermitian observables?

[2019-07-23 19:03] co9olguy commented on #2
I was just looking around the `devices.py` file and I noticed a few places where the docstrings will need to be updated to reflect new class structures of the core pennylane library.

Specifically, the docstring references to `pennylane.expval.PauliX` etc. will need to now point to the new locations of these observables e.g., (`pennylane.ops.PauliX`)

[2019-07-24 04:54] josh146 commented on #40
No, it is just a matter of implementing it. This has already been implemented on hardware devices over at https://github.com/rigetti/pennylane-forest, see [qvm.py](https://github.com/rigetti/pennylane-forest/blob/master/pennylane_forest/qvm.py). I can outline the process here.

1. Before executing the device, 'peak' at the observable queue in `pre_measure`. If an Hermitian observable exists in the

[2019-07-24 04:56] josh146 commented on #37
Closing now that all PyPI releases are up to date (and in sync)

[2019-07-24 04:56] #37 closed

[2019-07-24 05:56] josh146 opened #41 "Support Qiskit parametrized circuits"
Qiskit now support building parametrized quantum circuits, see https://qiskit.org/documentation/terra/custom_gates.html#parameterized-gates.

The advantage of parametrized circuits is that Qiskit only needs to compile it once, and then can re-use the same parametrized circuit for different parameter values. This can lead to a significant speedup when working with variational quantum circuits.

Onc

[2019-07-25 14:45] quantshah commented on #40
Thanks @josh146 for explaining that. Will get on to it.

[2019-07-29 15:48] josh146 opened #42 "Support sampling observables"
**Context:**

With the latest development version of PennyLane, we now support returning `samples` from the QNode, as well as expectation values and variance:

[code]

Plugins can support this new feature by subclassing the `Device.sample()` method, returning the requested number of samples for a given observable.

---

This should be relatively easy to support on hardware; for example,

[code]

_

[2019-08-06 20:18] josh146 commented on #38
Fixed in #44

[2019-08-06 20:18] #38 closed

[2019-08-06 20:18] #8 closed

[2019-08-07 14:27] quantshah opened #47 "Encrypted tokens in travis"
We need to be able to keep up with the IBM API and test with real tokens.

**Describe the solution you'd like**
I want to discuss putting encrypted variables using travis (
https://docs.travis-ci.com/user/environment-variables/) so that the tests for `ibm.py` work.

**Describe alternatives you've considered**
Running these tests locally once in a while with private tokens is an alternative. This i

[2019-08-07 14:36] josh146 commented on #47
An encrypted IBM Q token has been added to `.travis.yml` in commit 2134385

[2019-08-07 14:36] #47 closed

[2019-08-16 14:39] #42 closed

[2019-09-25 19:45] #40 closed

[2019-10-15 09:24] RicardoGaGu opened #52 "QiskitError on the data parity function of the pennylane tutorial"
I'm trying to reproduce the data parity variational classifier of pennylane's tutorial collection on the qiskit aer simulator backend,  the following line of code specifies the backend:

[code]

This is the variational architecture I'm using, plus the basic data encoding technique _BasisState_ for the bitstring data:

[code]
I get the following the error when I execute the training loop part:

`Qi

[2019-10-16 21:45] josh146 commented on #52
Hi @RicardoGaGu! Can I ask what version of Qiskit you have installed, and what version of PennyLane? The PennyLane-Qiskit plugin defines a [custom `Rot` gate](https://github.com/XanaduAI/pennylane-qiskit/blob/master/pennylane_qiskit/gates.py#L59) that should be qiskit-compatible, so this is a strange error.

[2019-10-18 14:20] #2 closed

[2019-10-21 09:02] RicardoGaGu commented on #52
Sorry for the delay Josh!

Here are the versions of the libraries you asked:

- Qiskit version  0.9.0

- Pennylane version 0.5.0

[2019-10-21 14:05] josh146 commented on #52
Hi @RicardoGaGu, can you try upgrading to the latest version of Qiskit (v0.13) and the latest version of PennyLane and PennyLane-Qiskit?

[code]

Let me know if that works for you.

[2019-10-21 14:16] RicardoGaGu commented on #52
Same tolerance issue with the following libraries installed in my jupyter kernel:

- Qiskit version  0.10.0

- Pennylane qiskit plugin 0.6.0

- Pennylane version 0.6.0

[2019-10-21 14:31] josh146 commented on #52
Thanks @RicardoGaGu --- we are looking into the tolerance issue here: https://github.com/XanaduAI/pennylane/issues/365, hopefully we should have a bug fix worked out soon.

In the meantime, does this fix the issue with `No rule to expand instruction basis_state."`? The following code works for me:

[code]
and gives the output `0.3359375`

[2019-10-21 14:55] RicardoGaGu commented on #52
Oh yes! Sorry I was executing the amplitude normalization example thinking this was the therad for this issue.

Your example gives me the following error:

`DeviceError: Operation BasisState cannot be used after other Operations have already been applied on a qiskit.aer device.`

Which is solved by putting the statepreparation(x) before the layer(W). Then the outputs keep changing because the laye

[2019-10-21 15:05] RicardoGaGu commented on #52
Oh yes! Sorry I was executing the amplitude normalization example thinking this was the therad for this issue.

Your example gives me the following error:

DeviceError: Operation BasisState cannot be used after other Operations have already been applied on a qiskit.aer device.

Which is solved by putting the statepreparation(x) before the layer(W). Then the outputs keep changing because the layers

[2019-10-21 15:06] RicardoGaGu commented on #52
Oh yes! Sorry I was executing the amplitude normalization example thinking this was the therad for this issue.

Your example gives me the following error:

`DeviceError: Operation BasisState cannot be used after other Operations have already been applied on a qiskit.aer device.`

Which is solved by putting the statepreparation(x) before the layer(W). Then the outputs keep changing because the laye

[2019-10-21 15:06] josh146 commented on #52
Oops! That was a typo on my behalf. I've edited my comment to switch the order :)

[2019-10-21 15:57] RicardoGaGu commented on #52
HI @josh146 , could you try the data parity variational circuit training on qiskit.aer device in your environment/kernel, I'm having the `Cannot unroll the circuit to the given basis` issue even though your example works fine, they have the same single-qubit rotation and two-qubit entangling gates architecture.

[2019-10-21 16:04] RicardoGaGu commented on #52
Ok, I found the problem! The data input:

the input `x = [0,0,0,0,0]` produces the `Cannot unroll the circuit to the given basis`. Applyng layer(w) to the all-zero state seems that produces this issue.

[2019-10-21 18:49] josh146 commented on #52
Ah, that sounds like a bug in how PennyLane-Qiskit defines the basis state operation; we likely need to have an `if-else` in case the ground state is passed.

[2019-11-11 17:23] antalszava opened #56 "Update the list of custom operations"
The list of supported operations has been updated in Pennylane core. Now gates like the U2, U3 and Toffoli gates are among the operations.

Previously, in this plugin, these were added separately in the ``ops.py`` file. It would be nice to update the list of operations in PennyLane-Qiskit as well.

[2019-11-20 16:43] antalszava commented on #52
Hi @RicardoGaGu, thanks for your question! In PR [#60], this issue has been resolved and now it is specifically tested if `BasisState` receives `[0, 0, .. 0]` as input!

[2019-11-20 16:43] #52 closed

[2019-11-20 16:44] antalszava commented on #56
Done with #58, closing this for now

[2019-11-20 16:44] #56 closed

[2020-03-26 15:06] antalszava opened #77 "Error for gradient with tensor observables QiskitDevice"
**Describe the bug**
An error is raised when the gradient of a `QNode` with tensor observables is computed when using the `Qiskit` device. (Thanks @trbromley for catching this!)

**To Reproduce**
[code]
**Expected behavior**
The gradient is computed without any errors and the correct result is returned.

**Screenshots**
[code]
**qml.about() output**
[code]

**Additional context**
This bug is relat

[2020-03-26 22:39] josh146 commented on #77
I'm in favour of porting to `QubitDevice`, as this will reduce maintenance load in the long run.

[2020-04-23 17:45] antalszava commented on #77
Closing as solved by #83

[2020-04-23 17:45] #77 closed

[2020-10-05 16:17] josh146 opened #107 "Allow transpilation options to be provided to Qiskit devices"
The Qiskit `transpile` function accepts a wide range of options: https://qiskit.org/documentation/stubs/qiskit.compiler.transpile.html

We should allow keyword arguments to devices to be passed during transpilation.

This could be done by inspecting `qiskit.compiler.transpile`, and passing any keyword arguments that occur in the signature.

[2020-10-06 06:21] sagarpahwa commented on #107
Hi @josh146 I am interested in working on this one. Can I give this one a try?
I have worked on qiskit transpiler code earlier.

[2020-10-06 08:58] josh146 commented on #107
Hi @sagarpahwa, this would be a great first issue for a PR 🙂

[2020-10-06 13:33] sagarpahwa commented on #107
Thank you @josh146, I will start working on it.

[2020-10-06 14:00] josh146 commented on #107
@sagarpahwa, feel free to make a PR to this repo titled `[WIP] Pass transpilation options`. If you run into any issues, feel free to ask

[2020-10-06 17:34] co9olguy commented on #107
@sagarpahwa great! Looking forward to your contribution :smiley:

[2020-10-06 20:46] sagarpahwa commented on #107
Hi @josh146 , @co9olguy

I tried to understand the code and the required changes. PFB the understanding.

__File to change__: qiskit_device.py
__location__:
[code]
__parameters to pass__:

[code]

- If my understanding is correct, then do we need to pass the additional parameters to both compile and assemble method?
- Also, these will be at root level of the **kwargs coming to apply method, or we

[2020-10-06 21:40] antalszava commented on #107
Hi @sagarpahwa :slightly_smiling_face:

There might be distinct options for the `transpile` and the `assemble` functions. A first step could be wiring in options for the `transpile` function, as per the original idea. That solution could then be extended in a similar fashion for `assemble`. If there are keyword arguments that are accepted by both functions, I'd think it would be fine for now to pa

[2020-10-07 02:39] sagarpahwa commented on #107
Thanks @antalszava for helping out.
I went back and checked the way we are passing the parameters to the run method.

1. ```
    s = inspect.signature(b.run)
    self.run_args = {}
[code]
3. ```
    if "backend_options" in s.parameters:
            self.run_args["backend_options"] = kwargs
[code]
    if "backend_options" in s.parameters:
            self.run_args["backend_options"] = kwargs.pop("b

[2020-10-07 19:17] antalszava opened #109 "Add support for returning job execution times"
We would like to allow retrieving the time taken for jobs when using IBMQ. This is at the moment not available, as results are obtained from the specific `Job` objects (e.g. counts) and neither the job objects nor result objects are stored explicitly. An approach could be to store internally the information contained in [`job.time_per_step`](https://qiskit.org/documentation/stubs/qiskit.providers.

[2020-10-07 19:49] antalszava commented on #107
Hi @sagarpahwa,

The approach you've outlined looks good overall! The parsing and storing of transpile/assemble/run arguments can be further extended, as you've pointed out.

The logic here assumes that everything that was further left in `kwargs` was meant to be passed `backend_options`.

As @josh146 mentioned, feel free to reach out if you'd have further questions or feel it would be good for us

[2020-10-07 20:29] sagarpahwa commented on #107
Thanks @antalszava for the review. I will do the rest of the changes.

@josh146 , It seems to me that run method argument passing needs a little amendment as well. but as discussed earlier I am making changes here only for transpiration options, assuming that we will track other changes (assemble and run) via separate threads. If everything here goes fine, would like to work upon the rest of the t

[2020-10-09 06:27] sagarpahwa commented on #109
Hi @antalszava, can I try to look into this one? Might need some help though.
Thanks in advance!

[2020-10-09 14:33] antalszava commented on #109
Hi @sagarpahwa, that's great, thanks for showing interest there!

Definitely! This could be coming up after concluding with #108. Once merged we could explore what could be a nice approach here.

[2020-10-09 14:35] sagarpahwa commented on #109
Okay, will start exploring the existing code meanwhile.

Thanks @antalszava .

[2020-10-20 06:05] josh146 opened #113 "Update plugin to natively support Ugate, Pgate, and SXgate"
* The `Ugate` is the new Qiskit label for the `U3gate`

* The `Pgate` corresponds to the PennyLane `PhaseShift` operation

* The `SXgate` (sqrtX gate) is new, and currently does not have a PennyLane native equivalent.

* Qiskit has deprecated the `[u1, u2, u3]` basis in favour of the new `[p, sx]` basis.

Once the above gates are natively available in PennyLane, we should update the plugin to use

[2020-10-24 04:36] #107 closed

[2020-10-28 15:27] antalszava commented on #109
Hi @sagarpahwa, feel free to let us know if you'd need some help in terms of design or anything here

[2020-10-28 17:33] sagarpahwa commented on #109
Oh, my bad. Forgot to provide update here. exams are going on right now, won't be able to work till 2nd November.

If possible, can I start this post that?

[2020-10-28 17:45] antalszava commented on #109
Hi @sagarpahwa, no worries! Sure, starting then works fine too.

Good luck with your exams! :slightly_smiling_face:

[2020-11-30 18:19] glassnotes opened #119 "Showcase demos using PennyLane-Qiskit on main docs page"
The bottom of the main documentation page has a section for [tutorials](https://pennylaneqiskit.readthedocs.io/en/latest/#tutorials) with a few links, and instructions for filtering the demo page. It would be great to enhance this by adding some explicit links to the demos that make extensive use of PL-Qiskit.

Two ways we can do this are:
 - a row of cards, like the [basic](https://pennylane.ai/q

[2021-01-20 07:49] mariaschuld commented on #24
I am closing this for now, feel free to re-open if needed.

[2021-01-20 07:49] #24 closed

[2021-01-24 18:07] mickahell opened #123 "Circular import"
**Describe the bug**
When I want to use the qiskit.aer or qiskit.basicaer backend I have this error :
`AttributeError: partially initialized module 'pennylane_qiskit' has no attribute 'AerDevice' (most likely due to a circular import)`

**My code :**
[code]

**Desktop :**
 - OS: Mac OS bigSUR
 - Python 3.8.1
 - Pennylane version : 0.13
 - Pennylane Qiskit version : 0.13

[2021-01-24 23:22] antalszava commented on #123
Hi @mickahell, thank you for the report! :slightly_smiling_face:

It sounds odd! :thinking: Does the error appear even when trying in a completely new environment (when installing PennyLane and PennyLane-Qiskit form scratch)?

Also, could there be any additional local files with the name `pennylane_qiskit` that might be mistaken as a Python module?

[2021-01-25 07:49] mickahell commented on #123
@antalszava oh I just find it because of you, The problem was my name file, I named my file pennylane_qiskit.py so I renamed it planne_qiskit.py and that works now.

Thanks for your help :)

[2021-01-25 07:49] #123 closed

[2021-02-02 14:40] albi3ro opened #129 "Support loading Parameter Expressions"
Currently, the `load` function to convert a Qiskit circuit cannot convert Qiskit `ParameterExpression`'s with more than a simple, unaltered `Parameter`.  See error raised at [converter.py#L205](https://github.com/PennyLaneAI/pennylane-qiskit/blob/059964d097e14e5c1b36d231ec5b4330a4e345f5/pennylane_qiskit/converter.py#L205)

PennyLane now, as of v0.14.0, supports classical processing of arguments wi

[2021-02-08 13:12] #119 closed

[2021-04-13 15:38] albi3ro opened #134 "Order of inputs to `converter.py`'s `map_wires` function"
The [`map_wires`](https://github.com/PennyLaneAI/pennylane-qiskit/blob/b646dab624e9953fad4a29e369458c9632d42dc8/pennylane_qiskit/converter.py#L103) function takes inputs in the order `values, keys` and returns a dictionary of mapping `keys` to `values`.

My brain does not like this.  We should instead have `map_wires` take inputs of the form `keys, values`.  Then the code will be easier to read an

[2021-05-27 19:50] charmerDark commented on #113
Hey! Is this issue still open? The `SXgate` is now [supported](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.SX.html) and cant be used in the plugin too right? I understand `Ugate` and `Pgate`  have already been updated in the v0.23 update.

[2021-05-28 05:50] josh146 commented on #113
Hi @charmerDark, having a look at the Qiskit device's supported operations,
https://github.com/PennyLaneAI/pennylane-qiskit/blob/57934622ee0531212e032c6dd24271c5fd1b4d6d/pennylane_qiskit/qiskit_device.py#L36
it appears that `SX` is not yet listed. Further, `ex.PhaseGate` and `ex.U3Gate` currently in used by the plugin might be deprecated by Qiskit and could be in need of an update!

So I would say

[2021-05-28 08:07] charmerDark commented on #113
I'm sorry..I meant now that `SX` is available on pennylane, it could be added to the list of supported operations. the 'cant' was a typo :sweat_smile:

[2021-05-28 09:57] josh146 commented on #113
Ah I see, yes definitely @charmerDark!

[2021-06-14 15:09] l45k opened #138 "Support running Qiskit jobs with multiple circuits"
Qiskit supports to submit multiple circuits combined to one job. All circuits in the job are computed as a batch,  which reduces the waiting time in the queue. This can be used for computing gradients as well as a batch of inputs for a circuit, for eample when using a KerasLayer.

I would like to call the qnode with a list of inputs that which result in one job send to the qiskit device. The same

[2021-06-15 19:15] trbromley commented on #138
Thanks @l45k! Improved batching support is definitely something we're looking at for PennyLane.

Currently, we have the [batch_execute()](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.QubitDevice.html#pennylane.QubitDevice.batch_execute) method added to [QubitDevice](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.QubitDevice.html). Devices that inherit from this can

[2021-06-23 08:11] l45k commented on #138
Hey @trbromley,
Thanks for your answer! Unfortunately, I already looked through the code myself and could not figure out a way to implement it efficiently. The 'batch_execute()' would be perfect for solving the issue. However,  as you already mentioned, it is only implemented (in some devices) for computing gradients.  Therefore,  more changes in the PennyLane codebase would be required to achieve

[2021-06-23 20:29] co9olguy commented on #138
Hi @l45k, as @trbromley mentions, we are planning to extend `batch_execute` to be used in more places in devices (and become the default). This should land in an upcoming version of PennyLane soon.

In the meantime, the method `batch_execute` already exists in `QubitDevice`, which most plugin devices inherit from. That means one could already call it directly with no need to modify PennyLane code

[2021-07-01 15:19] Abhigyan-Mishra opened #143 "Variational Quantum Algorithm Parameters are getting updated"
**Describe the bug**
I have a code implementing a variational quantum algorithm on pennylane, when I try to run it on qiskit quantum simulator, the parameter is not updating, meanwhile, the code runs fine on the penny lane quantum simulator.
**To Reproduce**
Steps to reproduce the behavior:
1. Run the pennylane code on qiskit simulator.

**Expected behavior**
Similar result to, what was obtained f

[2021-07-02 15:13] antalszava commented on #143
Hi @Abhigyan-Mishra, thank you for the report! :slightly_smiling_face: Could you please post a code snippet so that we could have a closer look?

[2021-07-06 14:12] antalszava commented on #129
@albi3ro has this been resolved?

[2021-07-06 14:13] antalszava commented on #41
@josh146 this seems to be available by now, right?

[2021-07-06 14:48] josh146 commented on #41
I don't believe so (unless I am mistaken) -- it looks like the plugin is still simply building a new numeric program every time:

https://github.com/PennyLaneAI/pennylane-qiskit/blob/1e152c7ecea78d2b51267d6a9f75393951449dcc/pennylane_qiskit/qiskit_device.py#L248

[2021-08-03 11:26] antalszava opened #145 "`UserWarning: verbose is not a recognized runtime option and may be ignored by the backend`"
When submitting circuits to IBMQ the following `UserWarning` comes up:
[code]

This can be reproduced for example when running the transfer learning QML demo. See also this comment on the [PennyLane forum](https://discuss.pennylane.ai/t/quantum-transfer-learning-code-mari-et-al-2019-ibmqdevice-endless-execution/325/21?u=antalszava).

[2021-08-11 11:38] #134 closed

[2021-08-11 11:40] albi3ro commented on #109
I'd like to revive this issue, as it ties in well with the addition of the [Tracker](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.Tracker.html) in PennyLane v0.17.0 .

[2021-08-11 12:58] albi3ro opened #147 "Support for Qiskit `ParameterVector`"
Currently, the Qiskit plugin supports arbitrary `ParameterExpression` objects in Qiskit Circuits, but Qiskit now has different type of parameter object, the [`ParameterVector`](https://qiskit.org/documentation/stubs/qiskit.circuit.ParameterVector.html) with `ParameterVectorElement` objects. Binding circuits with these types of unbound parameters currently causes errors.

For the below example, we

[2021-08-14 19:26] co9olguy commented on #143
Closing due to lack of activity. Feel free to reopen if more information is forthcoming :slightly_smiling_face:

[2021-08-14 19:26] #143 closed

[2021-08-16 18:17] trbromley opened #149 "Update qiskit requirements"
Currently PennyLane-Qiskit relies on the full `qiskit` library in its [requirements](https://github.com/PennyLaneAI/pennylane-qiskit/blob/00a47d27f944bfdd79fdc09e4008162059a5232e/setup.py#L24). Now that Qiskit is split into multiple sub-components, we can probably get away with just relying on certain components in PennyLane-Qiskit and lightening the requirements, similar for example to the mitiq

[2021-09-20 16:32] andreamari opened #153 "Better support for the Identity gate"
Currently a Qiskit `IGate` is converted to a `qml.ops.ops.QubitUnitary`.
The reason is that `qml.ops.Identity` is only supported in PennyLane as an observable. Likely, in the future it will be supported as a an operation too. There is already an issue for this https://github.com/PennyLaneAI/pennylane/issues/1632 .

So, as soon as https://github.com/PennyLaneAI/pennylane/issues/1632 will be fixed,

[2021-09-21 01:04] CatalinaAlbornoz commented on #153
Hi @andreamari, thank you very much for bringing this up! I agree that it would be useful to support it in the plugin. We will note it down!

[2021-11-15 15:19] #138 closed

[2021-11-15 17:09] antalszava commented on #138
Hi @l45k, with #156 merged, this feature should now be available on the `master` branch of the repository and will be included in the next release.

[2021-11-25 11:18] #109 closed

[2021-12-02 16:36] andreamari commented on #153
Thanks @dime10 !

[2021-12-07 11:22] andreamari opened #164 "Problem with qiskit version 0.33.0 related to the function `measure`"
**Describe the bug**
In the last version (`0.33.0`) of qiskit the function `measure` has been removed from `qiskit.circuit.measure`.
In `pennylane_qiskit.qiskit_device.py` there is however this line that now can create problems:
https://github.com/PennyLaneAI/pennylane-qiskit/blob/0998b85dc730566d3f5c167e6f789ebaef255b93/pennylane_qiskit/qiskit_device.py#L27

**To Reproduce**
Note sure how to repr

[2021-12-07 14:26] CatalinaAlbornoz commented on #164
Hi @andreamari, thank you for pointing this out and for suggesting the fix!

[2021-12-07 15:15] rmoyard commented on #164
Thanks @andreamari, I'll open a PR for the new version of Qiskit!

[2021-12-07 23:48] jakelishman commented on #164
Apologies everyone - this shouldn't have been removed without a deprecation warning, and I'll add it back (with a deprecation warning) in Terra 0.19.1 later this week.  The loose `measure` function here was never meant to be public; it was just a hold-over from how we used to built up the `QuantumCircuit` object with monkey-patching, and in a tidy-up for Terra 0.19 it got removed.  The solution An

[2021-12-10 16:17] jakelishman commented on #164
Terra 0.19.1 and Qiskit 0.33.1 are live on PyPI now, which re-instated these functions with deprecation warnings.

[2021-12-10 16:28] antalszava commented on #164
Thank you @jakelishman! :pray:

[2021-12-10 20:40] antalszava opened #165 "Add caching capabilities to `QiskitDevice`."
The PennyLane `QubitDevice` class allows caching certain circuit executions. Once the same circuit is being executed multiple times, cached values may be used to provide the result of circuit executions.

This capability could also be added to `QiskitDevice`.

[2021-12-12 14:36] josh146 commented on #165
@antalszava I'm curious if the caching in the device is superceded by the caching in the `qml.execute` function?

This new caching capability is accessible via the new QNode:

[code]

[code]

[2021-12-14 08:23] josh146 opened #171 "The upload GitHub action fails as Flaky is not installed"
https://github.com/PennyLaneAI/pennylane-qiskit/runs/4517182744?check_suite_focus=true#step:7:23

[2021-12-14 08:23] josh146 commented on #171
As a result, the automated version bump for v0.21-dev was not triggered

[2021-12-14 14:21] antalszava commented on #165
@josh146 oh that's a great point! I think so :thinking: Should the `QubitDevice` caching ability be deprecated then? We could have it on the roadmap.

[2021-12-14 14:22] josh146 commented on #165
Good idea!

[2021-12-14 14:24] antalszava commented on #165
Cool, added it :+1:

[2021-12-14 16:23] antalszava opened #173 "Tests using IBMQ from forked PRs"
The IBMQ tests are being skipped whenever the `IBMQX_TOKEN_TEST` environment variable is not defined (or with a recent upcoming change is an empty string).

The secret defined in GitHub actions that would pass an IBMQ token to this variable is not being exposed whenever a PR is opened from a fork. Consequently, integration tests using IBMQ are not being run when an external contributor makes a PR.

[2021-12-14 16:49] #171 closed

[2022-02-18 12:17] vbelis opened #189 "Circuits always measure all qubits"
**Describe the bug**
It seems that the circuits are always compiled to `qiskit.QuantumCircuit` with measurements on all qubits. This can be checked in the definition of registers: https://github.com/PennyLaneAI/pennylane-qiskit/blob/12c00ad2d34ca4be1db3266e0d38543db7ec286f/pennylane_qiskit/qiskit_device.py#L209 and appending measurements: https://github.com/PennyLaneAI/pennylane-qiskit/blob/12c00a

[2022-02-22 17:46] vbelis commented on #189
Hi @antalszava thanks for the response. In general, I was expecting that the "translation" of a `pennylane.qnode` circuit to `qiskit.QuantumCircuit`would be exact both in terms of the gates and in terms of the measurements. Operators that are not diagonal in the Z-basis, e.g., `qml.expval(qml.PauliΧ(0))` or custom Hermitian operators `qml.Hermitian`, seem to be propagated from `pennylane` to `qisk

[2022-02-22 23:45] antalszava commented on #189
Thanks for the details @vbelis! Indeed, the result that we get will be a larger bitstring that has to then be post-processed. The change you suggest could indeed tidy up the internals of the plugin and bring an enhanced simulation experience. Based on our internal plans providing a solution might have to come later down the line. Let us know if you'd be interested in having a try with it, we could

[2022-02-23 16:11] #164 closed

[2022-03-05 11:01] vbelis commented on #189
Hi @antalszava!

From my understanding, yes this is true, especially for superconducting qubits.

Could you, please, point me to the source code where the post-processing of the bitstring occurs? I would like to do some sanity and consistency checks, beyond the potential noise effects specified above. That is, to understand how the results from the IBMQ backend (or Aer simulator) are transformed b

[2022-03-07 17:16] antalszava commented on #189
Hi @vbelis,

That occurs in the [`QubitDevice.statistics`](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/_qubit_device.py#L355) and is done by more specific methods like [`QubitDevice.expval`](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/_qubit_device.py#L763)  in the PennyLane repository.

Generally, the logic for devices is contained in the `QubitDevice` class,

[2022-03-28 20:26] KetpuntoG opened #208 "Problem with equal parameters in vqe_runner"
**Describe the bug**
(Bug found by Matthew Weiss)

When I use the same parameter twice within an anstaz, when I send it to the vqe_runner, they are optimized separately, so the equal relationship between them is not maintained.

**Reason for the behavior**

the quantum circuit is transformed to a tape (concrete values are assigned)

[code]

[2022-03-28 20:47] heyredhat commented on #208
Example:

[code]
This gives `UserWarning: In order to match the tape expansion, the number of parameters has been changed`. Moreover:

[code]
[code]
Instead of optimizing over the two parameters (a and b), reusing each twice, it's optimized over four, treating each use of a parameter separately.

[2022-05-03 10:44] vbelis commented on #189
Hi @antalszava,

Apologies for the late reply. Thanks a lot for the informative message.

I think it is OK to measure all the qubits and just read the output of the one qubit we are interested in. This should give the same results as measuring only that qubit. However, this is true only in the ideal case, disregarding the different noise effects of the two setups.

I can come back to this thread i

[2022-05-04 20:38] CatalinaAlbornoz commented on #189
Thank you for you insight @vbelis! We will leave the issue open and feel free to add any additional information you find.

[2022-06-06 15:43] trbromley opened #218 "Issue with inverse of QubitStateVector"
**Describe the bug**
An error is raised when using `qml.QubitStateVector(...).inv()` with any of the Qiskit devices.

The error is:
[code]

**To Reproduce**

[code]

**Expected behavior**
The above error is not raised.

We could raise a different error because we don't want to support inverses of state preparations (see https://github.com/PennyLaneAI/pennylane/issues/2666).

**Additional context**